In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/shakespeare-plays/Shakespeare_data.csv')
data = data.dropna()
data.sample(3)

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
109577,109578,A Winters Tale,25.0,4.3.169,Time,"A shepherd's daughter,"
25872,25873,Coriolanus,37.0,2.2.175,CORIOLANUS,As if I had received them for the hire
108661,108662,A Winters Tale,41.0,2.1.153,ANTIGONUS,"Yourself, your queen, your son."

In [4]:
#get info from line
actSceneLine = data['ActSceneLine']
aslSplit = actSceneLine.str.split('.', expand=True)

actLines = data['PlayerLine']
charPWord = actLines.str.len() #first hold total chars per line

wordPLine = actLines.str.split()
wordPLine = wordPLine.str.len() #words per line

charPWord = charPWord / wordPLine #characters per word

data_pro = pd.DataFrame()
data_pro['Player'] = data['Player']
data_pro['Play'] = data['Play']
data_pro['PlayerLineNumber'] = data['PlayerLinenumber']
data_pro['Act'] = aslSplit[0]
data_pro['Scene'] = aslSplit[1]
data_pro['Line'] = aslSplit[2]
data_pro['WordPerLine'] = wordPLine
data_pro['CharPerWord'] = charPWord

#data_pro.sample(2)

data_pro
#aslSplit
#charPWord
#actLines
#wordPLine

,Player,Play,PlayerLineNumber,Act,Scene,Line,WordPerLine,CharPerWord
3,KING HENRY IV,Henry IV,1.0,1,1,1,9,4.222222
4,KING HENRY IV,Henry IV,1.0,1,1,2,9,4.666667
5,KING HENRY IV,Henry IV,1.0,1,1,3,7,6.571429
6,KING HENRY IV,Henry IV,1.0,1,1,4,7,5.571429
7,KING HENRY IV,Henry IV,1.0,1,1,5,8,5.125000
8,KING HENRY IV,Henry IV,1.0,1,1,6,9,5.555556
9,KING HENRY IV,Henry IV,1.0,1,1,7,8,6.000000
10,KING HENRY IV,Henry IV,1.0,1,1,8,8,5.625000
11,KING HENRY IV,Henry IV,1.0,1,1,9,6,6.166667
12,KING HENRY IV,Henry IV,1.0,1,1,10,8,5.625000
13,KING HENRY IV,Henry IV,1.0,1,1,11,8,5.125000
14,KING HENRY IV,Henry IV,1.0,1,1,12,7,5.428571
15,KING HENRY IV,Henry IV,1.0,1,1,13,6,5.833333
16,KING HENRY IV,Henry IV,1.0,1,1,14,6,7.000000
17,KING HENRY IV,Henry IV,1.0,1,1,15,9,4.444444
18,KING HENRY IV,Henry IV,1.0,1,1,16,5,8.200000
19,KING HENRY IV,Henry IV,1.0,1,1,17,8,5.500000
20,KING HENRY IV,Henry IV,1.0,1,1,18,8,6.125000
21,KING HENRY IV,Henry IV,1.0,1,1,19,8,4.625000
22,KING HENRY IV,Henry IV,1.0,1,1,20,7,6.285714
23,KING HENRY IV,Henry IV,1.0,1,1,21,7,5.428571
24,KING HENRY IV,Henry IV,1.0,1,1,22,8,5.375000
25,KING HENRY IV,Henry IV,1.0,1,1,23,8,5.750000
26,KING HENRY IV,Henry IV,1.0,1,1,24,8,5.250000
27,KING HENRY IV,Henry IV,1.0,1,1,25,7,6.000000
28,KING HENRY IV,Henry IV,1.0,1,1,26,7,6.285714
29,KING HENRY IV,Henry IV,1.0,1,1,27,7,5.428571
30,KING HENRY IV,Henry IV,1.0,1,1,28,9,5.000000
31,KING HENRY IV,Henry IV,1.0,1,1,29,9,4.555556
32,KING HENRY IV,Henry IV,1.0,1,1,30,9,4.777778
...,...,...,...,...,...,...,...,...
111365,HERMIONE,A Winters Tale,36.0,5,3,154,5,4.800000
111366,PAULINA,A Winters Tale,37.0,5,3,155,5,5.800000
111367,PAULINA,A Winters Tale,37.0,5,3,156,8,5.250000
111368,PAULINA,A Winters Tale,37.0,5,3,157,7,6.000000
111369,PAULINA,A Winters Tale,37.0,5,3,158,6,6.833333
111370,PAULINA,A Winters Tale,37.0,5,3,159,8,4.875000
111371,PAULINA,A Winters Tale,37.0,5,3,160,9,5.000000
111372,PAULINA,A Winters Tale,37.0,5,3,161,8,5.000000
111373,PAULINA,A Winters Tale,37.0,5,3,162,5,4.400000
111374,LEONTES,A Winters Tale,38.0,5,3,163,3,6.000000
111375,LEONTES,A Winters Tale,38.0,5,3,164,8,5.375000
111376,LEONTES,A Winters Tale,38.0,5,3,165,10,3.800000
111377,LEONTES,A Winters Tale,38.0,5,3,166,9,5.444444
111378,LEONTES,A Winters Tale,38.0,5,3,167,10,4.400000
111379,LEONTES,A Winters Tale,38.0,5,3,168,10,4.600000
111380,LEONTES,A Winters Tale,38.0,5,3,169,9,4.888889
111381,LEONTES,A Winters Tale,38.0,5,3,170,9,5.000000
111382,LEONTES,A Winters Tale,38.0,5,3,171,5,7.400000
111383,LEONTES,A Winters Tale,38.0,5,3,172,10,4.900000
111384,LEONTES,A Winters Tale,38.0,5,3,173,6,5.666667
111385,LEONTES,A Winters Tale,38.0,5,3,174,10,4.600000
111386,LEONTES,A Winters Tale,38.0,5,3,175,8,5.750000
111387,LEONTES,A Winters Tale,38.0,5,3,176,8,4.875000
111388,LEONTES,A Winters Tale,38.0,5,3,177,7,6.000000
111389,LEONTES,A Winters Tale,38.0,5,3,178,8,5.750000
111390,LEONTES,A Winters Tale,38.0,5,3,179,7,6.714286
111391,LEONTES,A Winters Tale,38.0,5,3,180,8,5.250000
111392,LEONTES,A Winters Tale,38.0,5,3,181,8,4.625000
111393,LEONTES,A Winters Tale,38.0,5,3,182,9,5.111111
111394,LEONTES,A Winters Tale,38.0,5,3,183,6,6.333333

In [6]:
#encoding from string to number
from sklearn import preprocessing
features = ['Player', 'Play']
    
for feature in features:
    le = preprocessing.LabelEncoder()
    le = le.fit(data_pro[feature])
    data_pro[feature] = le.transform(data_pro[feature])

data_pro

,Player,Play,PlayerLineNumber,Act,Scene,Line,WordPerLine,CharPerWord
3,457,9,1.0,1,1,1,9,4.222222
4,457,9,1.0,1,1,2,9,4.666667
5,457,9,1.0,1,1,3,7,6.571429
6,457,9,1.0,1,1,4,7,5.571429
7,457,9,1.0,1,1,5,8,5.125000
8,457,9,1.0,1,1,6,9,5.555556
9,457,9,1.0,1,1,7,8,6.000000
10,457,9,1.0,1,1,8,8,5.625000
11,457,9,1.0,1,1,9,6,6.166667
12,457,9,1.0,1,1,10,8,5.625000
13,457,9,1.0,1,1,11,8,5.125000
14,457,9,1.0,1,1,12,7,5.428571
15,457,9,1.0,1,1,13,6,5.833333
16,457,9,1.0,1,1,14,6,7.000000
17,457,9,1.0,1,1,15,9,4.444444
18,457,9,1.0,1,1,16,5,8.200000
19,457,9,1.0,1,1,17,8,5.500000
20,457,9,1.0,1,1,18,8,6.125000
21,457,9,1.0,1,1,19,8,4.625000
22,457,9,1.0,1,1,20,7,6.285714
23,457,9,1.0,1,1,21,7,5.428571
24,457,9,1.0,1,1,22,8,5.375000
25,457,9,1.0,1,1,23,8,5.750000
26,457,9,1.0,1,1,24,8,5.250000
27,457,9,1.0,1,1,25,7,6.000000
28,457,9,1.0,1,1,26,7,6.285714
29,457,9,1.0,1,1,27,7,5.428571
30,457,9,1.0,1,1,28,9,5.000000
31,457,9,1.0,1,1,29,9,4.555556
32,457,9,1.0,1,1,30,9,4.777778
...,...,...,...,...,...,...,...,...
111365,407,2,36.0,5,3,154,5,4.800000
111366,631,2,37.0,5,3,155,5,5.800000
111367,631,2,37.0,5,3,156,8,5.250000
111368,631,2,37.0,5,3,157,7,6.000000
111369,631,2,37.0,5,3,158,6,6.833333
111370,631,2,37.0,5,3,159,8,4.875000
111371,631,2,37.0,5,3,160,9,5.000000
111372,631,2,37.0,5,3,161,8,5.000000
111373,631,2,37.0,5,3,162,5,4.400000
111374,494,2,38.0,5,3,163,3,6.000000
111375,494,2,38.0,5,3,164,8,5.375000
111376,494,2,38.0,5,3,165,10,3.800000
111377,494,2,38.0,5,3,166,9,5.444444
111378,494,2,38.0,5,3,167,10,4.400000
111379,494,2,38.0,5,3,168,10,4.600000
111380,494,2,38.0,5,3,169,9,4.888889
111381,494,2,38.0,5,3,170,9,5.000000
111382,494,2,38.0,5,3,171,5,7.400000
111383,494,2,38.0,5,3,172,10,4.900000
111384,494,2,38.0,5,3,173,6,5.666667
111385,494,2,38.0,5,3,174,10,4.600000
111386,494,2,38.0,5,3,175,8,5.750000
111387,494,2,38.0,5,3,176,8,4.875000
111388,494,2,38.0,5,3,177,7,6.000000
111389,494,2,38.0,5,3,178,8,5.750000
111390,494,2,38.0,5,3,179,7,6.714286
111391,494,2,38.0,5,3,180,8,5.250000
111392,494,2,38.0,5,3,181,8,4.625000
111393,494,2,38.0,5,3,182,9,5.111111
111394,494,2,38.0,5,3,183,6,6.333333

In [7]:
from sklearn.model_selection import train_test_split

data_x = data_pro.drop(['Player'], axis=1)
data_y = data_pro['Player']

perc_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=perc_test)

#data_x
#data_y
#X_train
#y_test

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV

# Choose the type of classifier. 
clfr = RandomForestClassifier()

# Choose some parameter combinations to try
parameters = {'n_estimators': [4, 6, 9], 
              'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [2, 3, 5, 10], 
              'min_samples_split': [2, 3, 5],
              'min_samples_leaf': [1,5,8]
             }

# Type of scoring used to compare parameter combinations
acc_scorer = make_scorer(accuracy_score)

# Run the grid search
grid_obj = GridSearchCV(clfr, parameters, scoring=acc_scorer)
grid_obj = grid_obj.fit(X_train, y_train)

# Set the clf to the best combination of parameters
clfr = grid_obj.best_estimator_

# Fit the best algorithm to the data. 
clfr.fit(X_train, y_train)

/home/kaidong/Softwares/anaconda2/lib/python2.7/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=10, max_features='log2', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, n_estimators=9, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [9]:
predictions = clfr.predict(X_test)
print(accuracy_score(y_test, predictions))

0.5077266891731254