In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/shakespeare-plays/Shakespeare_data.csv')
data[2:6]

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
5,6,Henry IV,1.0,1.1.3,KING HENRY IV,And breathe short-winded accents of new broils

In [5]:
actSceneLine = data['ActSceneLine']
aslSplit = actSceneLine.str.split('.', expand=True)

actLines = data['PlayerLine']
charPWord = actLines.str.len() #first hold total chars per line

wordPLine = actLines.str.split()
wordPLine = wordPLine.str.len() #words per line

charPWord = charPWord / wordPLine #characters per word

data_pro = pd.DataFrame()
data_pro['Player'] = data['Player']
data_pro['Play'] = data['Play']
data_pro['PlayerLineNumber'] = data['PlayerLinenumber']
data_pro['Act'] = aslSplit[0]
data_pro['Scene'] = aslSplit[1]
data_pro['Line'] = aslSplit[2]
data_pro['WordPerLine'] = wordPLine
data_pro['CharPerWord'] = charPWord

data_pro
#aslSplit
#charPWord
#actLines
#wordPLine

,Player,Play,PlayerLineNumber,Act,Scene,Line,WordPerLine,CharPerWord
0,NaN,Henry IV,NaN,NaN,NaN,NaN,2,2.500000
1,NaN,Henry IV,NaN,NaN,NaN,NaN,5,5.600000
2,NaN,Henry IV,NaN,NaN,NaN,NaN,16,6.000000
3,KING HENRY IV,Henry IV,1.0,1,1,1,9,4.222222
4,KING HENRY IV,Henry IV,1.0,1,1,2,9,4.666667
5,KING HENRY IV,Henry IV,1.0,1,1,3,7,6.571429
6,KING HENRY IV,Henry IV,1.0,1,1,4,7,5.571429
7,KING HENRY IV,Henry IV,1.0,1,1,5,8,5.125000
8,KING HENRY IV,Henry IV,1.0,1,1,6,9,5.555556
9,KING HENRY IV,Henry IV,1.0,1,1,7,8,6.000000
10,KING HENRY IV,Henry IV,1.0,1,1,8,8,5.625000
11,KING HENRY IV,Henry IV,1.0,1,1,9,6,6.166667
12,KING HENRY IV,Henry IV,1.0,1,1,10,8,5.625000
13,KING HENRY IV,Henry IV,1.0,1,1,11,8,5.125000
14,KING HENRY IV,Henry IV,1.0,1,1,12,7,5.428571
15,KING HENRY IV,Henry IV,1.0,1,1,13,6,5.833333
16,KING HENRY IV,Henry IV,1.0,1,1,14,6,7.000000
17,KING HENRY IV,Henry IV,1.0,1,1,15,9,4.444444
18,KING HENRY IV,Henry IV,1.0,1,1,16,5,8.200000
19,KING HENRY IV,Henry IV,1.0,1,1,17,8,5.500000
20,KING HENRY IV,Henry IV,1.0,1,1,18,8,6.125000
21,KING HENRY IV,Henry IV,1.0,1,1,19,8,4.625000
22,KING HENRY IV,Henry IV,1.0,1,1,20,7,6.285714
23,KING HENRY IV,Henry IV,1.0,1,1,21,7,5.428571
24,KING HENRY IV,Henry IV,1.0,1,1,22,8,5.375000
25,KING HENRY IV,Henry IV,1.0,1,1,23,8,5.750000
26,KING HENRY IV,Henry IV,1.0,1,1,24,8,5.250000
27,KING HENRY IV,Henry IV,1.0,1,1,25,7,6.000000
28,KING HENRY IV,Henry IV,1.0,1,1,26,7,6.285714
29,KING HENRY IV,Henry IV,1.0,1,1,27,7,5.428571
...,...,...,...,...,...,...,...,...
111366,PAULINA,A Winters Tale,37.0,5,3,155,5,5.800000
111367,PAULINA,A Winters Tale,37.0,5,3,156,8,5.250000
111368,PAULINA,A Winters Tale,37.0,5,3,157,7,6.000000
111369,PAULINA,A Winters Tale,37.0,5,3,158,6,6.833333
111370,PAULINA,A Winters Tale,37.0,5,3,159,8,4.875000
111371,PAULINA,A Winters Tale,37.0,5,3,160,9,5.000000
111372,PAULINA,A Winters Tale,37.0,5,3,161,8,5.000000
111373,PAULINA,A Winters Tale,37.0,5,3,162,5,4.400000
111374,LEONTES,A Winters Tale,38.0,5,3,163,3,6.000000
111375,LEONTES,A Winters Tale,38.0,5,3,164,8,5.375000
111376,LEONTES,A Winters Tale,38.0,5,3,165,10,3.800000
111377,LEONTES,A Winters Tale,38.0,5,3,166,9,5.444444
111378,LEONTES,A Winters Tale,38.0,5,3,167,10,4.400000
111379,LEONTES,A Winters Tale,38.0,5,3,168,10,4.600000
111380,LEONTES,A Winters Tale,38.0,5,3,169,9,4.888889
111381,LEONTES,A Winters Tale,38.0,5,3,170,9,5.000000
111382,LEONTES,A Winters Tale,38.0,5,3,171,5,7.400000
111383,LEONTES,A Winters Tale,38.0,5,3,172,10,4.900000
111384,LEONTES,A Winters Tale,38.0,5,3,173,6,5.666667
111385,LEONTES,A Winters Tale,38.0,5,3,174,10,4.600000
111386,LEONTES,A Winters Tale,38.0,5,3,175,8,5.750000
111387,LEONTES,A Winters Tale,38.0,5,3,176,8,4.875000
111388,LEONTES,A Winters Tale,38.0,5,3,177,7,6.000000
111389,LEONTES,A Winters Tale,38.0,5,3,178,8,5.750000
111390,LEONTES,A Winters Tale,38.0,5,3,179,7,6.714286
111391,LEONTES,A Winters Tale,38.0,5,3,180,8,5.250000
111392,LEONTES,A Winters Tale,38.0,5,3,181,8,4.625000
111393,LEONTES,A Winters Tale,38.0,5,3,182,9,5.111111
111394,LEONTES,A Winters Tale,38.0,5,3,183,6,6.333333
111395,LEONTES,A Winters Tale,38.0,NaN,NaN,NaN,1,6.000000